.topButton {
  background-color: #F4F4F4; /* Green */
  border: none;
  padding: 10px 10px;
  font-size: 14px;
  font-family: Courier;
}

.chartHeader {
  font-size: 18px;
  font-family: Tahoma;
}

.generalButton {
  background-color: #F4F4F4;
  border-color: black;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: Tahoma;
}

.secondButton {
  background-color: #7A1706;
  border-color: black;
  padding: 5px 5px;
  color: #D3D3DE;
  font-size: 14px;
  font-weight: bold;
  font-family: Tahoma;
  box-shadow: 5px 5px 5px black;
}

.race_breakdowns {
  position: absolute;
  right
}

.signature {
  font-family: Courier;
  font-size: 14px;
  border-color: none;
  background-color: #D3D3DE;
  border-color: #F4F4F4;
}

.disabledButton{
  cursor: not-allowed;
  pointer-events: none;
  background-color: #D3D3DE;
  border-color: black;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: Tahoma;
  color: black;
}

.clickedButton {
  background-color: #B6FFFE;
  border-color: black;
  padding: 5px 5px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-family: Tahoma;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}
